.C_titulo {
   font-family: "Old Standard TT", serif;
   font-style: italic;
   font-size: 24px;
   text-transform: uppercase;
}

@media (min-width: 768px) {
    .C_titulo {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .C_titulo {
        font-size: 40px;
    }
}

.C_Old-Standard-TT {
    font-family: "Old Standard TT", serif;
}

.C_Montserrat {
    font-family: "Montserrat", sans-serif;
}



